body {
    background: url(/resource/img/camobg2.jpeg) repeat;
    min-height: 1000px;
}

#container {margin: 0 auto; position: relative;}

    h1 {
        font-family: 'Stardos Stencil', cursive;
        font-weight: bold;
        position: absolute; right: 0; top: 27px;
        font-size: 35px;
        -webkit-transform: rotate(7deg);
    }
    
    /* form */
    
    #search-suspects {
        -webkit-border-radius : 10px;
        margin-top: 200px;
        background-color: #fff;
        padding: 20px 20px 1px 200px;
        -webkit-transition: margin-left 0.5s, margin-top 0.5s, background-color 0.3s, padding 0.5s;
        box-shadow : 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
    }
    #search-suspects.top {margin-top: 0; background-color: transparent; padding: 0; box-shadow : none;}
    
    #search-suspects input {font-family: Monaco,Andale Mono,Courier New,monospace;}
    #search-suspects.top input,
    #search-suspects.top button {box-shadow : 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);}
    
    #search-suspects .hide-scanned {display: none; color: #fff;}
    #search-suspects.top .hide-scanned {display: inline;}
    
    /* suspects */

    #dataset-cloned, #dataset {background-color: #fff; box-shadow : 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);}
    
    td:first-child code {
        max-width: 400px;
        word-wrap:break-word;
    }
    
    .flipswitch {white-space: nowrap; }
    .flipswitch .flipswitch-btn-no {background-color: #6D7779;}
    .flipswitch .flipswitch-btn-yes {background-color: #C3BEBB;}
    
    td code,
    td div,
    .remove,
    .scan-done {color: black; -webkit-transition: opacity 0.3s}
    
    .removed td code {text-decoration: line-through;}
    
    .scanned td code,
    .scanned td div,
    .scanned .remove,
    .scanned .scan-done {opacity: 0.3;}
    
    .remove {-webkit-transition: opacity: 0.3s;}
    .removed .remove {opacity: 0.3;}
    

/* responsive layout degradations */

@media screen and (min-width: 320px) {
    #container {width: 300px; padding: 0 10px;}
    #search-suspects {padding: 20px 20px 1px 20px;}
    #search-suspects input {width: 120px;}
    h1 {display: none;}
    #dataset-cloned, #dataset, code {font-size: smaller;}
}

@media screen and (min-width: 480px) {
    #container {width: 460px; padding: 0 10px;}
    #search-suspects {padding: 20px 20px 1px 20px;}
    #search-suspects input {width: 280px;}
    h1 {display: block;}
    #dataset-cloned, #dataset, code {font-size: inherit;}
}

@media screen and (min-width: 600px) {
    #container {width: 580px;}
    #search-suspects {padding: 20px 20px 1px 140px;}
    #search-suspects input {width: 140px;}
}

@media screen and (min-width: 768px) {
    #container {width: 748px;}
    #search-suspects {padding: 20px 20px 1px 180px;}
    #search-suspects input {width: 268px;}
}

@media screen and (min-width: 960px) {
    #container {width: 940px;}
    #search-suspects {padding: 20px 20px 1px 80px;}
    #search-suspects input {width: 468px;}
}

@media screen and (min-width: 960px) {
    #container {width: 940px;}
    #search-suspects {padding: 20px 20px 1px 80px;}
    #search-suspects input {width: 468px;}
}

@media all and (max-width:640px) {
    table,thead,tbody,tfoot,th,td,tr{display:block}
    tr+tr{margin-top:1em}
}