<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
        <title>{{title}}</title>
        <link rel="stylesheet" href="http://static2.viadeo-static.com/resource/30130219134543/coreui.css" />
        <link rel="stylesheet" href="/resource/css/main.css" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Stardos+Stencil:400,700" type="text/css" />
        <script src="http://viadeo.github.com/tetra-ui/src/js/lib/jquery/1.9.1/jquery.min.js"></script>
        <script src="/resource/js/jquery.fixedHeader.min.js"></script>
        <script src="http://viadeo.github.com/tetra-ui/src/js/lib/tetra/release/tetra-core.js"></script>
        <script>tetra.start();</script>
    </head>
    <body>
        
       {{{body}}}
    
    </body>
</html>
